<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>reveal.js</title>

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/simple.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<link rel="stylesheet" type="text/css" href="lib/css/asciinema-player.css" />
		<link rel="stylesheet" href="main.css">
		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
		<script src="https://unpkg.com/vue"></script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section>
					<img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Vue.js_Logo.svg" alt="vue-logo">
					<h1>Vue.js</h1>
				</section>
				<section>
					<h3>Czym jest Vue?</h3>
					<ul>
						<li>Framework JS</li>
						<li><b>Data utworzenia</b>: Luty 2014</li>
						<li><b>Twórca</b>: </li>
					</ul>
					<img src="static/vueTeam.png" alt="vue-creator">
				</section>
				<section>
					<h2>Dlaczego Vue?</h2>
				</section>
				<section>
					<h2>Rozmiar <u>ma znaczenie</u></h2>
				</section>
				<section>
					<table>
						<tr>
							<th>Framework</th>
							<th>Rozmiar zminifikowanej paczki produkcyjnej</th>
						</tr>
						<tr>
							<td>React 16.2.0 + React DOM</td>
							<td>97.5K</td>
						</tr>
						<tr>
							<td>Angular 2</td>
							<td>566K</td>
						</tr>
						<tr class = "emphasis">
							<td>Vue 2.4.2</td>
							<td>58.8K</td>
						</tr>
					</table>
					<a class="src" href="https://gist.github.com/Restuta/cda69e50a853aa64912d">https://gist.github.com/Restuta/cda69e50a853aa64912d</a>
				</section>
				<section>
					<h2>Szybkość też!</h2>
				</section>
				<section>
					<h3>Benchmarki</h3>
					<div class="row">
						<img src="static/benchmark-speed.png" alt="benchmark-speed">
						<img src="static/benchmark-memo.png" alt="benchmark-memo">
					</div>
					<a class="src" href="https://www.stefankrause.net/js-frameworks-benchmark6/webdriver-ts-results/table.html">https://www.stefankrause.net/js-frameworks-benchmark6/webdriver-ts-results/table.html</a>
				</section>
				<section>
					<h3>Vue vs. React</h3>
					<ul>
						<li>Wirtualny DOM</li>
						<li>Reaktywne komponenty</li>
						<li>Zawierają tylko główny rdzeń (<i>core</i>), resztę obsługują biblioteki</li>
					</ul>
				</section>
				<section>
					<h3>Ale...</h3>
					<ul>
						<li>Lepsza optymalizacja renderingu</li>
						<li>Przerzucenie pisania widoku na <i>HTML-like templates</i></li>
						<li>Ograniczanie styli do komponentu</li>
						<li>Możliwość używania jak jQuery</li>
					</ul>
				</section>
				<section>
					<h3>Vue vs AngularJS</h3>
					<ul>
						<li>Podobna składnia</li>
						<li><i>Data binding</i> (dwustronny vs jednostronny)</li>
						<li>Optymalizacja</li>
					</ul>
					<h3>Vue vs Angular (&ge;2)</h3>
					<ul>
						<li>TypeScript</li>
					</ul>
				</section>
				<section>
					<h2>Jak zacząć?</h2>
				</section>
				<section data-trim data-noescape>
					<h3>Tak, jak z jQuery!</h3>
					<pre><code class="html">
<script src="https://unpkg.com/vue"></script>
<div id="app">
  <p>{{ message }}</p>
</div>
					</code></pre>
					<pre><code class="vue">
new Vue({
  el: '#app',
  data: {
    message: 'Hello Vue.js!'
  }
})
					</code></pre>
					<div id="app2">
						<p>{{ message }}</p>
					</div>
					<script>
                      new Vue({
                        el: '#app2',
                        data: {
                          message: 'Output: Hello Vue.js!'
                        }
                      })
					</script>
				</section>
				<section>
					<h3>Vue CLI</h3>
					<asciinema-player src="static/184548.cast" cols="120" rows="15" poster="npt:0:21" font-size="big" speed="2"></asciinema-player>
				</section>
				<section>
					<h2>Co można zrobić?</h2>
				</section>
				<section>
					<h3>Wiązanie atrybutów</h3>
					<pre><code class="html">
<div id="bind">
 <a :href="link" target="_blank">To jest link</a>
</div>
					</code></pre>
					<pre><code class="vue">
new Vue({
  el: '#bind',
  data: {
    link: 'http://agh.edu.pl'
  }
})
					</code></pre>

					<div id="bind2">
						<a :href="link" target="_blank">To jest link</a>
					</div>
					<script>
                      new Vue({
                        el: '#bind2',
                        data: {
                          link: 'http://agh.edu.pl'
                        }
                      })
					</script>
				</section>

				<section>
					<h3>Wiązanie zdarzeń</h3>
					<pre><code class="html"><div id="bind-events">
	<button @click="showAlert">Kliknij tutaj</button>
</div>					</code></pre>
					<pre><code class="vue">new Vue({
	el: '#bind-events',
    	data: {
		message: 'To zostanie wyświetlone jako alert'
		},
        methods: {
           showAlert: function () {
        	 alert(this.message);
        }
    }
})					</code></pre>

					<div id="bind-events2">
						<button @click="showAlert">Kliknij tutaj</button>
					</div>
					<script>
                      new Vue({
                        el: '#bind-events2',
                        data: {
                          message: 'To zostanie wyświetlone jako alert'
                        },
                        methods: {
                          showAlert: function () {
                            alert(this.message);
                          }
                        }
                      })
					</script>
				</section>
				<section>
					<h3>Instrukcje warunkowe</h3>
					<pre><code class="html"><div id="cond">
	<button @click="showMsg">Kliknij tutaj</button>
	<div v-if="show"></div>
</div>					</code></pre>
					<pre><code class="vue">new Vue({
	el: '#cond',
    	data: {
		message: 'Widać mnie?',
		show: false
		},
        methods: {
        showMsg: function () {
        	this.show = !this.show;
        }
    }
})					</code></pre>

					<div id="cond2">
						<button @click="showMsg">Kliknij tutaj</button>
						<div v-if="show">{{ message }}</div>
					</div>
					<script>
                      new Vue({
                        el: '#cond2',
                        data: {
                          message: 'Omnomnom',
                          show: false
                        },
                        methods: {
                          showMsg: function () {
                            this.show = !this.show;
                          }
                        }
                      })
					</script>
				</section>
				<section>
					<h3>Pętle</h3>
					<pre><code class="html"><div id="loop">
	<span v-for="option in options" @click="pickFood(option)"> {{ option }} </span>
</div>					</code></pre>
					<pre><code class="vue">new Vue({
	el: '#loop',
      data: {
		  options: ['Pizza', 'Kebab', 'Sushi', 'Bibimbap']
	  },
      methods: {
        pickFood: function (option) {
          alert('Jemy: ' + option);
	  }
    }
})					</code></pre>

					<div id="loop2">
						Kliknij: <span v-for="option in options" @click="pickFood(option)"> {{ option }} </span>
					</div>
					<script>
                      new Vue({
                        el: '#loop2',
                        data: {
                          options: ['Pizza', 'Kebab', 'Sushi', 'Bibimbap']
                        },
                        methods: {
                          pickFood: function (option) {
                            alert('Jemy: ' + option);
                          }
                        }
                      })
					</script>
				</section>
				<section>
					<h3>Reaktywność</h3>
					<pre><code class="html"><div id="model">
  <p>Moja nazwa dania: {{ meal }}</p>
  <input type="text" v-model="meal">
</div>					</code></pre>
					<pre><code class="vue">new Vue({
el: '#model',
  data: {
    meal: ''
  }
})					</code></pre>

					<div id="model2">
						<p>Moja nazwa dania: {{ meal }}</p>
						<input type="text" v-model="meal">
					</div>
					<script>
                      new Vue({
                        el: '#model2',
                        data: {
                          meal: ''
                        }
                      })
					</script>
				</section>
				<section>
					<h3>Okiem psuja: properties</h3>
					<pre><code class="vue">new Vue({
  el: '#breaker1',
  computed: {
    now: function() {
      return Date.now()
    }
  },
  methods: {
    realNow: function() {
      return Date.now()
    }
  }
})					</code></pre>
					<div id="breaker1">
						<p>Teraz jest: {{ now }}</p>
						<button @click="showNow">Możesz powtórzyć?</button>
						<button @click="showRealNow">Ale NAPRAWDĘ teraz?</button>
					</div>
					<script>
						new Vue({
						 	 el: '#breaker1',
						 	 computed: {
						 		  now: function() {
						 				 return Date.now()
						 		  }
						 	 },
						 	 methods: {
						 		  realNow: function() {
						 				 return Date.now()
						 		  },
						 			showNow: function () {
						 				 alert("Ok, powtórzę: " + this.now);
						 			},
						 			showRealNow: function () {
						 				 alert("Ok, powtórzę: " + this.realNow());
						 			}
						 	 }
						})
					</script>
				</section>
			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>
		<script src="lib/js/asciinema-player.js"></script>
		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				dependencies: [
					{ src: 'plugin/markdown/marked.js' },
					{ src: 'plugin/markdown/markdown.js' },
					{ src: 'plugin/notes/notes.js', async: true },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				],
              keyboard: true
            });
		</script>
	</body>
</html>
