.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-family: 'Merriweather', serif;
}


tr.emphasis {
    border: crimson solid 4px;
}

.slides {
    background: url("static/5300621bbabf3_p.jpg") no-repeat 100% 0;
    background-size: 50px auto;
}

section .src {
    font-style: italic;
    font-size: 0.5em;
    margin-top: 30px;
}

section .src:before {
    content: 'Źródło: ';
}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.image-small {
    width: 25%;
    height: auto;
}